.flex-container {
            display: flex;
            background-color: coral;
        }

        .flex-container > div {
            background-color: white;
            padding: 20px;
            margin: 10px;
            font-size: 30px;
        }

        /* flex-direction(column) */

        .flex-container1 {
            display: flex;
            background-color: coral;
            flex-direction: column;
        }

        .flex-container1 > div {
            background-color: white;
            padding: 20px;
            margin: 10px;
            width: 100px;
            text-align: center;
            line-height: 75px;
            font-size: 30px;
        }

        /* flex-direction(column-reverse) */

        .flex-container2 {
            display: flex;
            background-color: coral;
            flex-direction: column-reverse;
        }

        .flex-container2 > div {
            background-color: white;
            padding: 20px;
            margin: 10px;
            width: 100px;
            text-align: center;
            line-height: 75px;
            font-size: 30px;
        }

        /* flex-direction(row) */

        .flex-container3 {
            display: flex;
            background-color: coral;
            flex-direction: row;
        }

        .flex-container3 > div {
            background-color: white;
            padding: 20px;
            margin: 10px;
            width: 100px;
            text-align: center;
            line-height: 75px;
            font-size: 30px;
        }

        /* flex-direction(row-reverse) */

        .flex-container4 {
            display: flex;
            background-color: coral;
            flex-direction: row-reverse;
        }

        .flex-container4 > div {
            background-color: white;
            padding: 20px;
            margin: 10px;
            width: 100px;
            text-align: center;
            line-height: 75px;
            font-size: 30px;
        }

        /* flex-wrap */

        .flex-container5 {
            display: flex;
            background-color: skyblue;
            flex-wrap: wrap;
        }

        .flex-container5 > div {
            background-color: white;
            padding: 20px;
            margin: 10px;
            width: 100px;
            text-align: center;
            line-height: 75px;
            font-size: 30px;
        }

        /* flex-wrap(nowrap) */

        .flex-container6 {
            display: flex;
            background-color: skyblue;
            flex-wrap: nowrap;
        }

        .flex-container6 > div {
            background-color: white;
            padding: 20px;
            margin: 10px;
            width: 100px;
            text-align: center;
            line-height: 75px;
            font-size: 30px;
        }

        /* flex-wrap(reverse-wrap) */

        .flex-container7 {
            display: flex;
            background-color: skyblue;
            flex-wrap: wrap-reverse;
        }

        .flex-container7 > div {
            background-color: white;
            padding: 20px;
            margin: 10px;
            width: 100px;
            text-align: center;
            line-height: 75px;
            font-size: 30px;
        }

         /* flex-flow */

         .flex-container8 {
            display: flex;
            background-color: skyblue;
            flex-flow: row wrap-reverse;
        }

        .flex-container8 > div {
            background-color: white;
            padding: 20px;
            margin: 10px;
            width: 100px;
            text-align: center;
            line-height: 75px;
            font-size: 30px;
        }

        /* justify-content: center */

        .flex-container9 {
            display: flex;
            background-color: green;
            justify-content: center;
        }

        .flex-container9 > div {
            background-color: white;
            padding: 10px;
            margin: 10px;
            width: 50px;
            text-align: center;
            font-size: 20px;
        }

         /* justify-content: flex-start */

         .flex-container10 {
            display: flex;
            background-color: green;
            justify-content: flex-start;
        }

        .flex-container10 > div {
            background-color: white;
            padding: 10px;
            margin: 10px;
            width: 50px;
            text-align: center;
            font-size: 20px;
        }

         /* justify-content: flex-end */

         .flex-container11 {
            display: flex;
            background-color: green;
            justify-content: flex-end;
        }

        .flex-container11 > div {
            background-color: white;
            padding: 10px;
            margin: 10px;
            width: 50px;
            text-align: center;
            font-size: 20px;
        }

         /* justify-content: space-around */

         .flex-container12 {
            display: flex;
            background-color: green;
            justify-content: space-around;
        }

        .flex-container12 > div {
            background-color: white;
            padding: 10px;
            margin: 10px;
            width: 50px;
            text-align: center;
            font-size: 20px;
        }

         /* justify-content: space-between */

         .flex-container13 {
            display: flex;
            background-color: green;
            justify-content: space-between;
        }

        .flex-container13 > div {
            background-color: white;
            padding: 10px;
            margin: 10px;
            width: 50px;
            text-align: center;
            font-size: 20px;
        }

        /* align-items: center */

        .flex-container14 {
            display: flex;
            height: 200px;
            background-color: green;
            align-items: center;
        }

        .flex-container14 > div {
            background-color: white;
            padding: 10px;
            margin: 10px;
            width: 50px;
            line-height: 50px;
            font-size: 20px;
        }

        /* align-items: flex-start */

        .flex-container15 {
            display: flex;
            height: 200px;
            background-color: green;
            align-items: flex-start;
        }

        .flex-container15 > div {
            background-color: white;
            padding: 10px;
            margin: 10px;
            width: 50px;
            line-height: 50px;
            font-size: 20px;
        }

        /* align-items: flex-end */

        .flex-container16 {
            display: flex;
            height: 200px;
            background-color: green;
            align-items: flex-end;
        }

        .flex-container16 > div {
            background-color: white;
            padding: 10px;
            margin: 10px;
            width: 50px;
            line-height: 50px;
            font-size: 20px;
        }

        /* align-items: stretch */

        .flex-container17 {
            display: flex;
            height: 200px;
            background-color: green;
            align-items: stretch;
        }

        .flex-container17 > div {
            background-color: white;
            padding: 10px;
            margin: 10px;
            width: 50px;
            line-height: 50px;
            font-size: 20px;
        }

        /* align-items: baseline */

        .flex-container18 {
            display: flex;
            height: 200px;
            background-color: green;
            align-items: baseline;
        }

        .flex-container18 > div {
            background-color: white;
            padding: 10px;
            margin: 10px;
            width: 50px;
            line-height: 50px;
            font-size: 20px;
        }

        /* align-content: center */

        .flex-container19 {
            display: flex;
            height: 600px;
            flex-wrap: wrap;
            background-color: #FEDC56;
            align-content: center;
        }

        .flex-container19 > div {
            background-color: white;
            padding: 10px;
            margin: 10px;
            width: 50px;
            line-height: 50px;
            font-size: 20px;
        }

        /* align-content: flex-start */

        .flex-container20 {
            display: flex;
            height: 600px;
            flex-wrap: wrap;
            background-color: #FEDC56;
            align-content: flex-start;
        }   

        .flex-container20 > div {
            background-color: white;
            padding: 10px;
            margin: 10px;
            width: 50px;
            line-height: 50px;
            font-size: 20px;
        }

        /* align-content: flex-end */

        .flex-container21 {
            display: flex;
            height: 600px;
            flex-wrap: wrap;
            background-color: #FEDC56;
            align-content: flex-end;
        }

        .flex-container21 > div {
            background-color: white;
            padding: 10px;
            margin: 10px;
            width: 50px;
            line-height: 50px;
            font-size: 20px;
        }

        /* align-content: space-around */

        .flex-container22 {
            display: flex;
            height: 600px;
            flex-wrap: wrap;
            background-color: #FEDC56;
            align-content: space-around;
        }

        .flex-container22 > div {
            background-color: white;
            padding: 10px;
            margin: 10px;
            width: 50px;
            line-height: 50px;
            font-size: 20px;
        }

        /* align-content: space-between */

        .flex-container23 {
            display: flex;
            height: 600px;
            flex-wrap: wrap;
            background-color: #FEDC56;
            align-content: space-between;
        }

        .flex-container23 > div {
            background-color: white;
            padding: 10px;
            margin: 10px;
            width: 50px;
            line-height: 50px;
            font-size: 20px;
        }

        /* align-content: stretch */

        .flex-container24 {
            display: flex;
            height: 600px;
            flex-wrap: wrap;
            background-color: #FEDC56;
            align-content: stretch;
        }

        .flex-container24 > div {
            background-color: white;
            padding: 10px;
            margin: 10px;
            width: 50px;
            line-height: 50px;
            font-size: 20px;
        }

        /* Perfect Centering */

        .perfect-box {
            display: flex;
            height: 600px;
            background-color: red;
            align-items: center;
            justify-content: center;
        }

        .perfect-box > div {
            background-color: white;
            padding: 10px;
            margin: 10px;
            width: 200px;
            height: 200px;
        }