h1 {
    text-transform: uppercase;
    text-align: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #0066b2;
    overflow: hidden;
}

li {
    float: left;
    
}

a:link {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #0066b2;
    padding: 14px 16px;    
}

a:hover {
    background-color: #002D62;
}

a:active {
    background-color: #0039a6;
}

a.visited {
    background-color: white;
}

a.active {
    background-color: red;
}