body {
	
	text-align: center;

	}

h1 {

	background-color: red;

	}

#para1 {

	background-image: url(Image/gokuicon.png);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;

	}
